@model List<TTH.Areas.Super.Models.TeamAttendance.EmployeeViewModel>

<style>
    
    body {
        background-color: #f1f3f7;
    }

    .leave-summary .leave-box {
        background: linear-gradient(135deg, #e3f2fd, #bbdefb); /* Soft blue gradient */
        border-radius: 12px;
        padding: 15px 10px;
        text-align: center;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        transition: 0.3s ease;
        height:120px;
    }

        .leave-summary .leave-box:hover {
            transform: translateY(-3px);
            box-shadow: 0 6px 20px rgba(0,0,0,0.20);
        }

    .leave-title {
        font-size: 13px;
        font-weight: 600;
        color: #333;
        margin-bottom: 5px;
    }

    .leave-value {
        font-size: 18px;
        font-weight: 700;
        color: #2575fc;
    }

    .yearly {
        font-size: 12px !important;
        padding: 3px 5px !important;
        border-radius: 2px !important;
    }


    .month-header {
        width: 150px;
    }

    .headingLeaves {
        background-color: #f9f9f9; 
        border-radius: 10px; 
        padding: 15px 10px; 
        text-align: center; 
        vertical-align: middle; 
    }

    .lable-leaves {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        border-radius: 15px;
        color: #2d2325;
        height:100px;
        width:200px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      
    }

    .action-btn {
        background: #4F7942;
        color: #fff;
        padding: 12px;
        border-radius: 10px;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s ease;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }

        .action-btn:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 18px rgba(0,0,0,0.25);
        }

    .approval-btn {
        background: #4F7942;
    }

    .count-badge {
        background: #dc3545;
        color: #fff;
        padding: 3px 10px;
        margin-left: 6px;
        border-radius: 50px;
        font-size: 13px;
        font-weight: 700;
    }


    .attendance-header {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        text-align: center;
    }

    .table thead th {
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
        
    }

    .table td, .table th {
        font-size: 11px;
        vertical-align: middle;
        text-align: center;
        padding-right: 2px;
        padding-left: 2px; 
        margin-right:-50px;
         margin-left:-50px;
    
    }
    
    .table tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }



    .form-control-sm {
        font-size: 11px;
        padding: 2px 6px;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6;
    }

    .table-hover tbody tr:hover {
        background-color: #F2F2F2;
    }

    .label-box {
        width: 100px;
        color: white;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        border-radius: 4px;
        margin-right: 5px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        padding: 6px 10px;
        display: flex; /* Enable flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }







    .sick {
        background-color: #c06c84;
        color: white;
    }

    .wfh {
        background-color: #d203fc;
        color: white;
    }

    .not-applicable {
        background-color: #eeeeee;
        color: black;
    }

    .unpaid {
        background-color: #f6d55c;
        color: black;
    }

    .weekend {
        background-color: #bdbdbd;
        color: black;
    }

    .half-day {
        background-color: #0077b6;
        color: white;
    }

    .holiday {
        background-color: #1434A4;
        color: white;
    }

    .paid {
        background-color: #00afb6;
         color:  white;
    }


    .summary-title {
        font-weight: bold;
        font-size: 18px;
        padding-top: 20px;
    }

    .totalLeaves {
        background-color: #ffffff;
        color: #2d2325;
    }

    .apply-totalLeaves {
        background-color: #4F7942;
        color: white;
    }

    .roster-day {
        background-color: #808000;
    }

    .paid-day {
        background-color: #fcf403;
        color: black;
    }

    .unpaid-day {
        background-color: red;
    }

    .LeavesDesign{
        font-size:18px !important;
        font-weight:500 !important;
    }
    .tablecolor{
        background-color:#ffffff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
    }
    
    .leavesDashboard{
        /* margin-left: 130px; */
         margin-right: -300px; 
    }

 /*    .tableOfMonth {
        margin-left: -25px !important; 
        margin-right: -115px !important;
    } */

    .row { 
        margin-right: -120px;
    }

  

    .bg-purple {
        background-color: #6f42c1 !important;
    }

    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }

    /* Fix table layout for narrow screens */
    table.tableOfMonthTable {
        width: 1400px; /* make enough width so 31 days fit */
    }
    
    
    @@media (max-width: 768px) {
       
        body {
            padding: 0px; 
        }


        .tableOfMonth {
            padding: 0;
        }

        .table-responsive {
            border-radius: 8px;
            overflow-x: auto;
            display: block;
            white-space: nowrap;
        }

        th, td {
            padding: 4px !important;
            font-size: 10px !important;
        }

        thead th {
            position: sticky;
            top: 0;
            z-index: 2;
        }
        .action-btn {
            font-size: 13px;
            padding: 5px;
        }
        .row { 
            margin-left: -80px;
            
        }

        .leave-title {
            font-size: 12px;
        }

        .leave-value {
            font-size: 16px;
        }

        .leave-summary .leave-box {
            padding: 12px 8px;
            height: 90px;
        }

     

        .SectionLeave {
            margin-left: 0px !important;
        }
        .apply-lable-leaves {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #4F7942;
            color: #fff;
            font-weight: 600;
            padding: 8px 16px;
            border-radius: 9px;
           
            cursor: pointer;
            transition: 0.3s;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            margin-top: 20px;
        }

       
        .col-md-12 { 
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        
        .tableEffect {
            padding-left: 0;
            padding-right: 0;
        }
        
        .attendance-header {
           /*  font-size: 20px; */
            text-align: center;
            margin-bottom: 15px;
            /* margin-left: -30px; */
            
        }

        .leave-summary .col-6 {
            flex: 0 0 48% !important; /* 2 cards side by side */
            max-width: 48% !important;
        }
        
        /* Leave Summary Boxes (.lable-leaves) */
        .col-md-9.mx-auto, .col-md-11.mx-auto { /* 👈 Key change: Force full width for summary containers */
            width: 100% !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-left: 10px; /* Re-introduce small padding for non-table content */
            padding-right: 10px;
        }

        .row.justify-content-center.mb-2.flex-wrap.gap-2.align-items-center {
            justify-content: space-around !important; 
        }

        .label-box {
            font-size: 13px;
            padding: 6px 14px;
        }

        .LeavesDesign {
            font-size: 20px !important; 
          /*   font-weight: 600 !important; */
            line-height: 1.2;
        }
        
        .lable-leaves br {
            content: "";
            display: none; 
        }
        
        .lable-leaves > :last-child {
            font-size: 25px;
            font-weight: bold;
        }

        
        .apply-lable-leaves {
           
            margin-top: 10px !important;
        }
        
        
        .table-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            width: 100%; 
        }

        .table td, .table th {
           
            padding: 5px 2px !important;
            white-space: nowrap;
        }

        .table thead th {
           /*  font-size: 10px !important;  */
        }
        
        
        .table thead th:not(:first-child):not(:nth-last-child(-n+5)) {
            width: 25px; 
        }
        
        
        .table tbody td:first-child {
            position: sticky;
            left: 0;
            z-index: 10;
            background-color: #f1f3f7;
            border-right: 1px solid #dee2e6;
        }
     
        .table thead th:nth-last-child(-n+5) {
            width: 40px; 
            position: sticky;
            right: 0;
            z-index: 10;
            background-color: #bdbdbd; 
        }
        
        /* Summary columns (sticky right) in body */
        .table tbody td:nth-last-child(-n+5) {
            width: 40px;
            position: sticky;
            right: 0;
            z-index: 5;
            background-color: #f9f9f9; 
        }
        .table tbody tr:nth-child(even) td:nth-last-child(-n+5) {
            background-color: #ffffff; 
        }

        /* Shrink the legend boxes for mobile */
        .label-box {
            width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 17px;
            margin-right: 0px;
            margin-bottom: 5px;
        }
     /*    .tableOfMonth{
            margin-left: -130px;
            margin-right: 5px;
        } */

        .applyLeaves{
            margin-left: 0;
            margin-right: 5px;
        }

      

        .LeaveMain {
            overflow: visible; 
        }

        .tableOfMonth {
            max-width: 420px; 
            overflow-y: auto; 
            overflow-x: hidden; 
            padding-left:10px;
        }

       
    }

    .SectionLeave {
        margin-left: 160px;
    }

    .bg-purple {
        background-color: #6f42c1 !important;
    }

</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

@{

    var PendingLeavesCount = ViewBag.PendingLeavesCount;
    
    var LeaveDays=ViewBag.LaevesDays;
    var PendingLeave = ViewBag.AwaitingApproval;

    var leaveList = ViewBag.OperationleaveCount as List<TTH.Areas.Super.Models.TeamAttendance.LeaveCountViewModel>;
    var rotsterLeave = ViewBag.employeeRosterLeaves as List<TTH.Areas.Super.Data.TeamAttendance.EmployeeRosterLeave>;

    var opHolidayMap = ViewBag.OperationEmployeeHolidays as Dictionary<string, List<DateTime>> ?? new Dictionary<string, List<DateTime>>();
    var leaveDatesDict = ViewBag.OperationEmployeeLeaves as Dictionary<string, List<(DateTime Date, string Leave, string LeaveType)>>
                                ?? new Dictionary<string, List<(DateTime Date, string Leave, string LeaveType)>>();
    var weekendDatesDict = ViewBag.EmployeeWeekendDates as Dictionary<string, List<DateTime>> ?? new Dictionary<string, List<DateTime>>();
}

@{
    Dictionary<(string Leave, string LeaveType), double> leaveCounts = new Dictionary<(string, string), double>();
    var Year = ViewBag.year;


    

    Dictionary<(string Leave, string LeaveType), double> AllleaveCounts = new Dictionary<(string, string), double>();
    string empId = ViewBag.employeeId;
    string[] months = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthNames;


    var empAllLeaveDetails = leaveDatesDict.ContainsKey(empId)
    ? leaveDatesDict[empId]
    : new List<(DateTime Date, string Leave, string LeaveType)>();

    @for (int m = 1; m <= 12; m++)
    {
        int actualDaysInMonth = DateTime.DaysInMonth(Year, m);


        // Calculate leaveCounts ONLY for the current month
        for (int i = 1; i <= actualDaysInMonth; i++)
        {
            var date = new DateTime(Year, m, i);
            var leaveRecord = empAllLeaveDetails.FirstOrDefault(d => d.Item1.Date == date.Date);

            if (leaveRecord != default)
            {
                var leaveName = leaveRecord.Leave?.ToLower() ?? "";
                var leaveType = leaveRecord.LeaveType?.ToLower() ?? "";

                var matchingLeave = leaveList?.FirstOrDefault(l => l.LeaveType?.ToLower() == leaveName);

                if (matchingLeave != null && !string.IsNullOrEmpty(matchingLeave.LeaveType))
                {
                    var key = (leaveType, matchingLeave.LeaveType.ToLower());
                    AllleaveCounts.TryGetValue(key, out double currentCount);
                    AllleaveCounts[key] = currentCount + matchingLeave.Count;
                }
                else if (leaveName?.ToLower() == "whf")
                {

                    var whfKey = (leaveType, leaveName.ToLower()); // Fallback key if leaveType is null
                    AllleaveCounts.TryGetValue(whfKey, out double currentCount);
                    AllleaveCounts[whfKey] = currentCount + 1;
                }
            }
        }
    }


    double totalPaid = AllleaveCounts
    .Where(x => x.Key.Item1.ToLower() == "paid")
    .Sum(x => x.Value);

    double totalUnpaid = AllleaveCounts
    .Where(x => x.Key.Item1.ToLower() == "unpaid")
    .Sum(x => x.Value);

    double totalWfh = AllleaveCounts
    .Where(x => x.Key.Item1.ToLower() == "other")
    .Sum(x => x.Value);

    double totalAllLeaves = totalPaid + totalUnpaid;

    double EmployeeTotalLeave = Math.Max(0, LeaveDays - totalAllLeaves);

    int totalDays = 30;
    int YeartotalDays = 360;

    double workDays = YeartotalDays - totalUnpaid;


    

}

<section class="SectionLeave">
   <div class="LeaveMain">

    <div class="mt-3 mb-3">

            <div class="row mt-3 mb-4">
                <!-- Header -->
                <div class="text-center mb-3">
                    <h4 class="fw-bold text-primary m-0">
                        @ViewBag.FirstName @ViewBag.LastName
                        <span class="text-dark">– @ViewBag.year</span>
                    </h4>
                </div>


                <!-- Status box -->
                <div class="col-md-12 mx-auto">
                    <div class="p-3 rounded shadow-sm bg-white d-flex flex-wrap justify-content-center gap-2">

                        <!-- Static Labels -->
                        <span class="badge label-box px-3 py-2 weekend">Weekends</span>
                        <span class="badge label-box px-3 py-2 holiday">Holidays</span>
                        <span class="badge label-box px-3 py-2 roster-day">RosterDay</span>
                        <div class="label-box paid-day">Paid</div>
                        <div class="label-box unpaid-day">Unpaid</div>

                        <!-- Dynamic leave list -->
                        @if (leaveList != null && leaveList.Any())
                        {
                            foreach (var leave in leaveList)
                            {
                                <span class="badge label-box px-3 py-2 text-white"
                                      style="background:@leave.color;">
                                    @leave.LeaveType
                                </span>
                            }

                            <span class="badge label-box wfh text-light px-3 py-2">WFH</span>
                        }
                    </div>
                </div>
            </div>

    </div>

    <div class="container">
            <div class="row leave-summary mt-3 p-3 rounded shadow-sm bg-white d-flex flex-wrap justify-content-center gap-2">
                <div class="col-md-2 col-6 mb-3">
                    <div class="leave-box">
                        <div class="leave-title"><strong>Paid Leaves</strong></div>
                        <div class="leave-value">@totalPaid</div>
                    </div>
                </div>

                <div class="col-md-2 col-6 mb-3">
                    <div class="leave-box">
                        <div class="leave-title"><strong>Unpaid Leaves</strong></div>
                        <div class="leave-value">@totalUnpaid</div>
                    </div>
                </div>

                <div class="col-md-2 col-6 mb-3">
                    <div class="leave-box">
                        <div class="leave-title"><strong>Total Leaves</strong></div>
                        <div class="leave-value">@totalAllLeaves</div>
                    </div>
                </div>

                <div class="col-md-2 col-6 mb-3">
                    <div class="leave-box">
                        <div class="leave-title"><strong>WFH</strong></div>
                        <div class="leave-value">@totalWfh</div>
                    </div>
                </div>

                <div class="col-md-2 col-6 mb-3">
                    <div class="leave-box">
                        <div class="leave-title">
                            <strong>Remaining Leaves</strong>  
                        </div>
                        <div class="leave-value">@EmployeeTotalLeave</div>
                        <span class="yearly badge bg-danger text-light ms-1">Yearly @LeaveDays</span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 col-6 mt-2">
                        <div class="action-btn" data-bs-toggle="modal" data-bs-target="#TeamModal">
                            <i class="bi bi-pencil-square me-1"></i> Apply Leave
                        </div>
                    </div>

                    <div class="col-md-6 col-6 mt-2">
                        <div class="action-btn approval-btn" data-bs-toggle="modal" data-bs-target="#approvalmodal">
                            Awaiting
                            <span class="count-badge">@PendingLeavesCount</span>
                        </div>
                    </div>
                </div>

        </div>

    </div>
    </div>

    <div>
        <div class="tableEffect">
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center tablecolor">
                    <thead>

                        <tr style="background-color:#bdbdbd;">



                            <th rowspan="2"></th>

                        </tr>
                        <tr style="background-color:#bdbdbd;">
                            @for (int i = 1; i <= DateTime.DaysInMonth(2025, 5); i++)
                            {
                                <th>@i.ToString("00")</th>
                            }




                            <th>Paid</th>
                            <th>Unpaid</th>


                            <th>Total</th>
                            <th>WFH</th>
                            <th>Work Days</th>

                        </tr>
                        <tr>
                        </tr>
                    </thead>

                    <tbody>



                        @if (empId != null)
                        {

                            var empWeekendDates = weekendDatesDict.ContainsKey(empId) ? weekendDatesDict[empId] : new List<DateTime>();
                            var empHolidayDates = opHolidayMap.ContainsKey(empId) ? opHolidayMap[empId] : new List<DateTime>();
                            var empLeaveDetails = leaveDatesDict.ContainsKey(empId)
                            ? leaveDatesDict[empId]
                            : new List<(DateTime Date, string Leave, string LeaveType)>();


                            for (int m = 1; m <= 12; m++)
                            {
                                int actualDaysInMonth = DateTime.DaysInMonth(Year, m);
                                leaveCounts.Clear();

                                for (int i = 1; i <= actualDaysInMonth; i++)
                                {
                                    var date = new DateTime(Year, m, i);
                                    var leaveRecord = empLeaveDetails.FirstOrDefault(d => d.Item1.Date == date.Date);

                                    if (leaveRecord != default)
                                    {
                                        var leaveName = leaveRecord.Leave?.ToLower() ?? "";
                                        var leaveType = leaveRecord.LeaveType?.ToLower() ?? "";

                                        var matchingLeave = leaveList?.FirstOrDefault(l => l.LeaveType?.ToLower() == leaveName);

                                        if (matchingLeave != null && !string.IsNullOrEmpty(matchingLeave.LeaveType))
                                        {
                                            var key = (leaveType, matchingLeave.LeaveType.ToLower());
                                            leaveCounts.TryGetValue(key, out double currentCount);
                                            leaveCounts[key] = currentCount + matchingLeave.Count;
                                        }
                                        else if (leaveName?.ToLower() == "whf")
                                        {

                                            var whfKey = (leaveType, leaveName.ToLower()); // Fallback key if leaveType is null
                                            leaveCounts.TryGetValue(whfKey, out double currentCount);
                                            leaveCounts[whfKey] = currentCount + 1;
                                        }
                                    }
                                }

                                <tr>
                                    <td class="fw-bold">@months[m - 1]</td>
                                    @for (int i = 1; i <= 31; i++)
                                    {
                                        string backgroundColor = "";

                                        if (i <= actualDaysInMonth)
                                        {
                                            var date = new DateTime(Year, m, i);
                                            bool isWeekend = empWeekendDates.Contains(date);
                                            bool isHoliday = empHolidayDates.Contains(date);
                                            var leaveRecord = empLeaveDetails.FirstOrDefault(d => d.Item1.Date == date.Date);
                                            bool emprosterDay = rotsterLeave.Any(r => r.EmployeeId == empId && r.RosterDate == date.Date);
                                            bool emprosterLeave = rotsterLeave.Any(r => r.EmployeeId == empId && r.LeaveDate == date.Date);

                                            if (emprosterDay != false)
                                            {
                                                backgroundColor = "#f9f9f9";
                                            }

                                            else if (emprosterLeave != false)
                                            {
                                                backgroundColor = "#808000";
                                            }
                                            else if (leaveRecord != default)
                                            {
                                                var leaveName = leaveRecord.Leave?.ToLower() ?? "";
                                                var leaveType = leaveRecord.LeaveType?.ToLower() ?? "";
                                                if (leaveName == "whf")
                                                {
                                                    backgroundColor = "#d203fc";
                                                }
                                                else
                                                {
                                                    if (leaveType == "paid")
                                                    {
                                                        var matchingLeave = leaveList?.FirstOrDefault(l => l.LeaveType?.ToLower() == leaveName);
                                                        string baseColor = matchingLeave?.color ?? "#cccccc";
                                                        backgroundColor = $"linear-gradient(45deg, {baseColor} 50%, #fcf403 50%)";

                                                    }
                                                    // UnPaid → half red + half other color
                                                    else if (leaveType == "unpaid")

                                                    {
                                                        var matchingLeave = leaveList?.FirstOrDefault(l => l.LeaveType?.ToLower() == leaveName);
                                                        string baseColor = matchingLeave?.color ?? "#cccccc";
                                                        backgroundColor = $"linear-gradient(45deg, {baseColor} 50%, red 50%)";


                                                    }

                                                }


                                            }
                                            else if (isWeekend)
                                            {
                                                backgroundColor = "#bdbdbd";
                                            }
                                            else if (isHoliday)
                                            {
                                                backgroundColor = "#1434A4";
                                            }
                                        }

                                        <td style="background:@backgroundColor"></td>
                                    }
                                    @{

                                        double unpaid = leaveCounts.Where(kvp => kvp.Key.Item1 == "unpaid").Sum(kvp => kvp.Value);
                                        double workPercentage = ((totalDays - unpaid) / totalDays) * 100;
                                    }

                                    <td>@(leaveCounts.Where(kvp => kvp.Key.Item1 == "paid").Sum(kvp => kvp.Value))</td>
                                    <td>@(leaveCounts.Where(kvp => kvp.Key.Item1 == "unpaid").Sum(kvp => kvp.Value))</td>
                                    <td>@leaveCounts.Where(kvp => kvp.Key.Item1 != "other").Sum(kvp => kvp.Value)</td>
                                    <td>@(leaveCounts.Where(kvp => kvp.Key.Item2 == "whf").Sum(kvp => kvp.Value))</td>
                                    <td>@(30 - leaveCounts.Where(kvp => kvp.Key.Item1 == "unpaid").Sum(kvp => kvp.Value))</td>


                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </div>

    <div class="modal Teammodal fade" id="TeamModal" tabindex="-1" aria-labelledby="TeamModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content Teammodal-content">
                <div class="modal-header">
                    


                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>



                <form id="leaveForm" class="p-4 shadow rounded bg-white" method="post" enctype="multipart/form-data">
                    <div class="g-3 mb-3 row">
                        <div class="col-md-6">
                            <label for="startDate" class="form-label fw-semibold">Start Date</label>
                            <input type="date" id="startDate" name="startDate" class="form-control form-control-sm border-3" required />
                        </div>
                        <div class="col-md-6">
                            <label for="endDate" class="form-label fw-semibold">End Date</label>
                            <input type="date" id="endDate" name="endDate" class="form-control form-control-sm border-3" required />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="leave" class="form-label fw-semibold">Choose Leave</label>
                        @if (leaveList != null && leaveList.Any())
                        {
                            <select id="leaveTypeDropdown" name="leave" class="form-control" required>
                                <option value="">Choose Leave---</option>
                                @foreach (var leave in leaveList)
                                {
                                    <option value="@leave.LeaveType">@leave.LeaveType</option>
                                }
                                <option value="WHF">WFH</option>
                            </select>
                        }
                    </div>



                    <div class="mb-4">
                        <label for="note" class="form-label fw-semibold">Note</label>
                        <input type="text" id="note" name="note" class="form-control form-control-sm border-3" placeholder="Add a note (optional)" />
                    </div>
                    <input type="hidden" name="EmployeePendingLeaves" value="@EmployeeTotalLeave" />
                    <input type="file" name="file" class="form-control"   />
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary fw-semibold" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger fw-semibold">Submit</button>
                    </div>

                </form>

                
            </div>
        </div>
    </div>


    <div class="modal Teammodal fade" id="approvalmodal" tabindex="-1" aria-labelledby="TeamModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content Teammodal-content">
                <div class="modal-header">



                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>





                <form class="p-4 shadow rounded bg-white">


                    <h5 class="fw-semibold mb-3 text-danger">Pending Leave Requests</h5>

                    @if (ViewBag.AwaitingApproval != null && ((IEnumerable<dynamic>)ViewBag.AwaitingApproval).Any())
                    {
                        <table class="table table-bordered table-hover text-center">
                            <thead class="table-light">
                                <tr>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Leave</th>
                                    <th>Leave Type</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var leave in ViewBag.AwaitingApproval)
                                {
                                    <tr>
                                        <td>
                                            <span class="view-mode">@leave.StartDate?.ToString("dd-MM-yyyy")</span>
                                            <input type="date"
                                                   class="form-control edit-mode start-date"
                                                   value="@(leave.StartDate == DateTime.MinValue ? "" : leave.StartDate.ToString("yyyy-MM-dd"))"
                                                   style="display: none;" />
                                        </td>
                                        <td>
                                            <span class="view-mode">@leave.EndDate?.ToString("dd-MM-yyyy")</span>
                                            <input type="date"
                                                   class="form-control edit-mode end-date"
                                                   value="@(leave.EndDate == DateTime.MinValue ? "" : leave.EndDate.ToString("yyyy-MM-dd"))"
                                                   style="display: none;" />
                                        </td>

                                        <td>
                                            <span class="view-mode">@leave.Leave</span>@{
                                            var leaves = leaveList?.Select(l => l.LeaveType).ToList() ?? new List<string>();
                                            leaves.Add("WHF");
                                        }
                                        <select class="form-control edit-mode leave" style="display: none;" required>
                                            <option value="">Choose Leave Type----</option>
                                            @foreach (var type in leaves)
                                            {
                                                <option value="@type" selected="@(leave.Leave == type ? "selected" : null)">@type</option>
                                            }
                                        </select>
                                    </td>
                                    @{
                                        var status = (leave.HRApproval ?? "").Trim();
                                        var bgColor = status == "" ? "#ffc107" :
                                        status.Equals("Approved", StringComparison.OrdinalIgnoreCase) ? "#28a745" :
                                        status.Equals("Rejected", StringComparison.OrdinalIgnoreCase) ? "#dc3545" :
                                        "#6c757d";
                                    }

                                    <td>
                                        <div class="p-1 rounded text-white text-center" style="background-color:@bgColor">
                                            @(status == "" ? "Pending" : status)
                                        </div>
                                    </td>

                                    <td>

                                        <button type="button" class="btn btn-danger btn-sm delete-btn fas fa-trash-alt " data-id="@leave.Id"></button>

                                    </td>
                                </tr>
                                                        }
                        </tbody>
                    </table>
                                        }
                                        else
                    {
                        <p class="text-muted">No pending leave requests.</p>
                    }




                    <div class="d-grid">
                        <button type="button" class="btn btn-secondary fw-semibold" data-bs-dismiss="modal">Close</button>

                    </div>
                </form>



            </div>
        </div>
    </div>


    </section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tokenInput = document.querySelector('input[name="__RequestVerificationToken"]');
        const token = tokenInput ? tokenInput.value : "";
        const tableBody = document.getElementById("leaveTableBody");
        


        document.addEventListener("click", function (e) {
            const btn = e.target.closest("button");
            if (!btn) return;

            // --- DELETE ---
            if (btn.classList.contains("delete-btn")) {
                const id = btn.dataset.id;
                if (confirm("Are you sure you want to delete this leave?")) {
                    fetch(`/super/TeamAttendance/DeleteLeaveByEmployee/${id}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "RequestVerificationToken": token
                        }
                    })
                        .then(r => {
                            if (r.ok) location.reload();
                            else alert("❌ Now you Cannot delete the leave.");
                        })
                        .catch(err => console.error("Error:", err));
                }
            }

            

        });

        
    
    });
</script>

<script>
    const yearSelect = document.getElementById('yearPicker');
    const currentYear = new Date().getFullYear();
    const startYear = 2000;
    const endYear = currentYear + 50;

    for (let year = startYear; year <= endYear; year++) {
        const option = document.createElement("option");
        option.value = year;
        option.textContent = year;
        if (year === currentYear) {
            option.selected = true;
        }
        yearSelect.appendChild(option);
    }
</script>
<script>
    function submitForm() {
        document.getElementById("empForm").submit();
    }
</script>
<script>
    $("#leaveForm").submit(function (e) {
        e.preventDefault(); // stop normal page submit

        var formData = new FormData(this);

        $.ajax({
            url: "/super/TeamAttendance/AddEmployeeLeavesByEmployees",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,

            success: function (response) {
                alert(response.message);  // show popup
                location.reload();        // refresh after OK
            },

            error: function () {
                alert("Something went wrong.");
            }
        });
    });
</script>